table {
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 2px solid coral;
  width: 33.33%;
  height: 50px;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-75 {
  width: 75%;
}

.width-60 {
  width: 60%;
}

.width-28 {
  width: 28%;
}

.height-200 {
  height: 200px;
}
